In [1]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import random
import math

In [2]:
f = pd.read_csv("spambase.data", header = None)
f.head()#Testing

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [3]:
#random.seed(0)
train, test = train_test_split(f, train_size = 2/3)
test.head()#Testing

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3234,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0,0.000,0.000,0.0,1.000,1,5,0
2420,0.58,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.414,0.0,0.103,0.000,0.0,2.000,12,94,0
1832,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,2.32,...,0.0,0.000,0.0,0.375,0.000,0.0,1.444,5,13,0
412,0.00,0.0,0.43,0.0,0.87,0.0,0.0,0.0,0.0,0.00,...,0.0,0.072,0.0,0.577,0.216,0.0,6.274,90,320,1
852,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0,1.235,0.000,0.0,4.466,10,134,1

In [4]:
train.head()#Testing

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3179,0.00,0.35,0.35,0.0,0.17,0.0,0.0,0.00,0.17,0.35,...,0.000,0.038,0.000,0.019,0.00,0.095,2.059,28,447,0
3026,0.00,1.52,0.00,0.0,0.76,0.0,0.0,0.00,0.00,0.76,...,0.121,0.365,0.121,0.487,0.00,0.000,1.956,22,90,0
541,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.00,...,0.000,0.142,0.000,0.142,0.50,0.285,1.636,10,126,1
764,0.00,0.00,0.00,0.0,0.94,0.0,0.0,0.00,0.00,0.94,...,0.000,0.000,0.000,0.000,0.00,0.000,10.533,65,158,1
531,0.57,0.00,0.57,0.0,0.00,0.0,0.0,0.57,0.00,0.00,...,0.000,0.000,0.000,0.211,0.74,0.000,2.900,32,116,1

In [5]:
bias_train = np.ones(train.shape[0]).reshape(-1, 1)
bias_test = np.ones(test.shape[0]).reshape(-1, 1)

In [6]:
def Zscore(x, dataset):#Re-used from last homework(s)
    for i in range(dataset.shape[1] - 1):
        col = dataset.iloc[:, i].to_numpy()
        temp = (col - np.mean(col))/ (np.std(col, ddof = 1))
        x = np.append(x, temp.reshape(-1, 1), axis = 1)
    return x

In [7]:
zscored_train = pd.DataFrame(Zscore(bias_train, train.iloc[:, :-1]))
zscored_test = pd.DataFrame(Zscore(bias_test, test.iloc[:, :-1]))
X = zscored_test.iloc[:, :-1].to_numpy()
Y = test.iloc[:, -1].to_numpy()

In [8]:
temp_train = pd.DataFrame(train)
#temp_test = pd.DataFrame(test)
spam = temp_train[temp_train[temp_train.shape[1] - 1] == 1]
non_spam = temp_train[temp_train[temp_train.shape[1] - 1] == 0]
spam.head()#Testing

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
541,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,...,0.0,0.142,0.0,0.142,0.50,0.285,1.636,10,126,1
764,0.00,0.0,0.00,0.0,0.94,0.0,0.00,0.00,0.0,0.94,...,0.0,0.000,0.0,0.000,0.00,0.000,10.533,65,158,1
531,0.57,0.0,0.57,0.0,0.00,0.0,0.00,0.57,0.0,0.00,...,0.0,0.000,0.0,0.211,0.74,0.000,2.900,32,116,1
1789,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,...,0.0,0.000,0.0,0.000,0.00,0.763,21.428,62,150,1
800,0.00,0.5,0.25,0.0,0.50,0.0,1.01,0.00,0.0,0.76,...,0.0,0.113,0.0,0.189,0.00,0.151,8.972,447,646,1

In [9]:
len(temp_train), len(spam), len(non_spam)#Testing

(3067, 1227, 1840)

In [10]:
non_spam.head()#Testing

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
3179,0.00,0.35,0.35,0.0,0.17,0.00,0.0,0.0,0.17,0.35,...,0.000,0.038,0.000,0.019,0.000,0.095,2.059,28,447,0
3026,0.00,1.52,0.00,0.0,0.76,0.00,0.0,0.0,0.00,0.76,...,0.121,0.365,0.121,0.487,0.000,0.000,1.956,22,90,0
3240,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,...,0.000,0.714,0.000,0.000,0.000,0.000,2.708,15,65,0
2276,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.55,0.00,...,0.000,0.104,0.314,0.000,0.052,0.000,6.894,97,393,0
2666,0.05,0.00,0.10,0.0,0.15,0.05,0.0,0.0,0.57,0.00,...,0.193,0.170,0.059,0.000,0.014,0.000,3.461,66,1170,0

In [11]:
def likelihood(val, mean, std):
    x1 = 1 / (std * (2 * math.pi) ** 0.5)
    x2 = np.exp((-1) * ((val - mean) ** 2) / (2 * std ** 2))
    return x1 * x2

In [12]:
initprob_spam = spam.shape[0] / train.shape[0]
initprob_nspam = non_spam.shape[0] / train.shape[0]
print(initprob_spam, initprob_nspam)#Testing
spam_mean_li = np.mean(spam)
spam_std_li = np.std(spam)
non_spam_mean_li = np.mean(non_spam)
non_spam_std_li = np.std(non_spam)

#For spam samples
spam_pred = []
tmp_spam = []
for i in X:
    p1 = np.prod([likelihood(i[j], spam_mean_li[j], spam_std_li[j]) for j in range(len(i))])
    spam_pred.append(p1 * initprob_spam)

non_spam_pred = []
#For non_spam samples
for a in X:
    p2 = np.prod([likelihood(a[b], non_spam_mean_li[b], non_spam_std_li[b]) for b in range(len(a))])
    non_spam_pred.append(p2 * initprob_nspam)

0.4000652103032279 0.599934789696772

In [13]:
#This cell is for testing for how many nonzero values are there in both the lists
c1 = 0
for i in range(len(spam_pred)):
    if i != 0:
        c1 += 1
print(len(spam_pred), c1)
c2 = 0
for i in range(len(non_spam_pred)):
    if i != 0:
        c2 += 1
print(len(non_spam_pred), c2)

1534 1533
1534 1533

In [14]:
prediction = []
for i in range(len(spam_pred)):
    if spam_pred[i] < non_spam_pred[i]:
        prediction.append(1)
    else:
        prediction.append(0)
prediction = np.array(prediction)
len(prediction), len(Y)#Testing

(1534, 1534)

In [15]:
prediction[:20], Y[:20]

(array([1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1]),
 array([0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
       dtype=int64))

In [21]:
tp, tn, fp, fn = 0, 0, 0, 0
for i in range(len(prediction)):
    if not prediction[i] == Y[i]:
        if prediction[i] == 1:
            tp += 1
        else:
            tn += 1
    else:
        if prediction[i] == 1:
            fp += 1
        else:
            fn += 1

tp, tn, fp, fn

(700, 273, 313, 248)

In [22]:
accuracy = (tp + tn) / (tp + tn + fp + fn)
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f_measure = 2 * precision * recall / (precision + recall)

If you get runtime error here(division by zero), please re-run the code.

In [23]:
print(f'Accuracy is {accuracy * 100:.4}%')
print(f'Precision is {precision * 100:.4}%')
print(f'Recall is {recall * 100:.4}%')
print(f'F_score is {f_measure * 100:.4}%')

Accuracy is 63.43%
Precision is 69.1%
Recall is 73.84%
F_score is 71.39%